* {
    -fx-primary-color: #46cf9a;
    -fx-primary-color-light: #4ce0a7;
    -fx-primary-color-dark: #359c74;
    -fx-secondary-color: #292826;
    -fx-secondary-color-light: #525050;
    -fx-secondary-color-dark: #171615;
}